<footer>
	<div class="container">
		<div class="row">
			<div class="col-3">
				<a href="index.html">
					<img class="img-fluid" src="/Content/images/logo/logo-footer.png" />
				</a>
			</div>
			<div class="col-6 text-center">
				<h5>CÔNG TY TNHH MTV TM DV TÀU THUYỀN VIỆT</h5>
				1441 Nguyễn Chí Thanh, P.Tân An, TP.Thủ Dầu Một, Bình Dương
				<br />
				SĐT: 0650 3 899 889 - Email: Email: kennguyen20@gmail.com
				<br />
				Mã số thuế: 3702243464
				<br />
				Số tài khoản: 0281000415706 - Ngân hàng Vietcombank Bình Dương
			</div>
			<div class="col-3 social">
				<ul>
					<li>
						<a href="#">
							<i class="fa fa-youtube"></i>
						</a>
					</li>
					<li>
						<a href="#">
							<i class="fa fa-google-plus"></i>
						</a>
					</li>
					<li>
						<a href="#">
							<i class="fa fa-twitter"></i>
						</a>
					</li>
					<li>
						<a href="#">
							<i class="fa fa-facebook"></i>
						</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
</footer>
